@charset "utf-8";
body, button, input, select, textarea {
    font: 12px/1.125 Arial,Helvetica,sans-serif;
}
body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
li {
    list-style: outside none none;
}
fieldset, img {
    border: 0 none;
}
q::before, q::after {
    content: "";
}
input, textarea {
    outline-style: none;
}
input[type="text"], input[type="password"], textarea {
    outline-style: none;
}
textarea {
    resize: none;
}
address, caption, cite, code, dfn, em, i, th, var {
    font-style: normal;
    font-weight: normal;
}
legend {
    color: #000;
}
abbr, acronym {
    border: 0 none;
    font-variant: normal;
}
a, u {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.clearfix::after {
    clear: both;
    content: "";
    display: table;
}
.clearfix {
}
.clear {
    clear: both;
    font: 0px/0 Arial;
    height: 0;
    visibility: hidden;
}
body {
    color: #646464;
}
body a, .WB_linkA a, .WB_linkA {
    color: #1582bd;
}
.WB_linkB a, .WB_linkB {
    color: #7aa5b9;
}
.WB_logo {
    background: url("../../images/library/base/wb_logo.png?id=1367910055834") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 44px;
    line-height: 200px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 140px;
}
.WB_logo a {
    display: block;
}
.WB_logo16a {
    background: url("../../images/library/base/wb_logo16_a.png?id=1367910055834") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    font-size: 0;
    height: 14px;
    line-height: 200px;
    overflow: hidden;
    width: 16px;
}
.WB_logo_S {
    background: url("../../images/library/base/wb_logo.png?id=1367910055834") repeat scroll 0 -52px rgba(0, 0, 0, 0);
    height: 34px;
    line-height: 200px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 113px;
}
.WB_logo_S a {
    display: block;
}
.WB_xline1 {
    background: url("../../images/library/base/wb_xline_s1.png?id=1367910055834") no-repeat scroll center 0 rgba(0, 0, 0, 0);
}
.WB_xline2 {
    background: url("../../images/library/base/wb_xline_s2.png?id=1367910055834") no-repeat scroll center 0 rgba(0, 0, 0, 0);
}
.WB_xlinen {
    background: -moz-linear-gradient(left center , #eb192d 0%, #fdb940 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.WB_iptxt {
    background: none repeat scroll 0 0 #fafafa;
    border: 1px solid #bebebe;
    border-radius: 2px;
    box-shadow: 0 1px 0 #fff;
}
.WB_iptxt:focus {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ffb941;
    box-shadow: 0 1px 0 #e1e1e1 inset;
}
.WB_textarea {
    background: url("../../images/library/base/bg_sharebox.png?id=1367910055834") no-repeat scroll 100% 100% #fff;
    border: 1px solid #bebebe;
    border-radius: 1px;
    box-shadow: 0 1px 0 0 #f0f0f0;
    font: 14px/1.125 Arial,Helvetica,sans-serif;
    outline-style: none;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
}
.WB_textarea:focus {
    border: 1px solid #ffdca0;
    box-shadow: 0 0 5px rgba(255, 185, 65, 0.5);
    transition: all 0.3s ease-out 0s;
}
.WB_textarea_auto {
    background: url("../../images/library/base/bg_sharebox.png?id=1367910055834") no-repeat scroll 100% 100% #fff;
    border: 1px solid #bebebe;
    border-radius: 1px;
    box-shadow: 0 1px 0 0 #f0f0f0;
    padding: 10px;
}
.WB_textarea_auto .textarea_inner {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    font: 14px/1.125 Arial,Helvetica,sans-serif;
    outline-style: none;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
    width: 100%;
}
.WB_textarea_foucs {
    border: 1px solid #ffdca0;
    box-shadow: 0 0 5px rgba(255, 185, 65, 0.5);
    transition: all 0.3s ease-out 0s;
}
.WB_checkbox {
    vertical-align: -2px;
}
.WB_icon, .WB_icon_txt {
    display: inline-block;
    vertical-align: middle;
}
a .WB_icon_txt {
}
a:hover .WB_icon_txt {
    text-decoration: underline;
}
.WB_tipB_ok, .WB_tipB_err, .WB_tipB_warn, .WB_tipB_warn_red, .WB_tipB_ques, .WB_tipS_ok, .WB_tipS_err, .WB_tipS_warn, .WB_tipS_ques, .WB_tipS_num, .WB_tipS_numWarn, .WB_tipS_info {
    background: url("../../images/oauthV3/icon_tips.png?id=1367910055834") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    vertical-align: middle;
}
.WB_tipB_ok, .WB_tipB_err, .WB_tipB_warn, .WB_tipB_warn_red, .WB_tipB_ques, .WB_tipS_num, .WB_tipS_numWarn {
    height: 42px;
    width: 37px;
}
.WB_tipS_ok, .WB_tipS_err, .WB_tipS_warn, .WB_tipS_ques, .WB_tipS_info {
    height: 16px;
    width: 16px;
}
.WB_tipB_ok {
    background-position: 0 0;
}
.WB_tipB_err {
    background-position: -57px 0;
}
.WB_tipB_warn {
    background-position: -113px 0;
}
.WB_tipB_warn_red {
    background-position: -341px 0;
}
.WB_tipB_ques {
    background-position: -170px 0;
}
.WB_tipS_num {
    background-position: -227px 0;
}
.WB_tipS_numWarn {
    background-position: -284px 0;
}
.WB_tipS_ok {
    background-position: -11px -67px;
}
.WB_tipS_err {
    background-position: -67px -67px;
}
.WB_tipS_warn {
    background-position: -124px -67px;
}
.WB_tipS_ques {
    background-position: -181px -67px;
}
.WB_tipS_info {
    background-position: -238px -67px;
}
.WB_tipS_num, .WB_tipS_numWarn {
    color: #fff;
    font: 18px/36px Georgia,Constantia;
    text-align: center;
}
.WB_check_icon, .WB_ctl_prv, .WB_ctl_nxt, .WB_ctl_prv_dis, .WB_ctl_nxt_dis {
    background: url("../../images/library/base/icon_tools.png?id=1367910055834") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.WB_check_icon {
    display: inline-block;
    height: 14px;
    width: 14px;
}
.WB_ctl_prv, .WB_ctl_nxt, .WB_ctl_prv_dis, .WB_ctl_nxt_dis {
    display: block;
    float: left;
    height: 17px;
    line-height: 200px;
    overflow: hidden;
    width: 17px;
}
.WB_ctl_prv {
    background-position: -74px 0 !important;
}
.WB_ctl_nxt {
    background-position: -101px 0 !important;
}
.WB_ctl_prv:hover {
    background-position: -74px -18px !important;
}
.WB_ctl_nxt:hover {
    background-position: -101px -18px !important;
}
.WB_ctl_prv_dis {
    background-position: -74px -36px !important;
    cursor: default;
}
.WB_ctl_nxt_dis {
    background-position: -101px -36px !important;
    cursor: default;
}
a.WB_ctl_prv_dis {
    background-position: -74px -36px !important;
    cursor: default;
}
a.WB_ctl_nxt_dis {
    background-position: -101px -36px !important;
    cursor: default;
}
.WB_loadingB {
    background: url("../../images/library/base/loading2.gif?id=1367910055834") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 23px;
    vertical-align: middle;
    width: 23px;
}
.WB_loadingS {
    background: url("../../images/library/base/loading1.gif?id=1367910055834") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 18px;
    vertical-align: middle;
    width: 18px;
}
.WB_loadingMini {
    background: url("../../images/library/base/loading4.gif?id=1367910055834") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 15px;
    vertical-align: middle;
    width: 15px;
}
.WB_loadingbgS {
    background-image: url("../../images/library/base/loading1.gif?id=1367910055834");
    background-position: center center;
    background-repeat: no-repeat;
}
.WB_state_fail {
    background: url("../../images/library/base/state_fail.png?id=1367910055834") no-repeat scroll center top rgba(0, 0, 0, 0);
    display: block;
    height: 245px;
}
.WB_vline {
    color: #ccc;
    margin: 0 3px;
}
.WB_big_cursor {
    cursor: url("http://img.t.sinajs.cn/t5/style/images/common/big.cur"), auto !important;
}
.WB_small_cursor {
    cursor: url("http://img.t.sinajs.cn/t5/style/images/common/small.cur"), auto !important;
}
.WB_checkbox2 {
    margin-right: 3px;
    vertical-align: middle;
}
.WB_ico_face, .WB_ico_pic, .WB_ico_topic {
    background: url("../../images/library/publisher_icons/publisher_icons.png?id=1367910055834") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 16px;
    width: 16px;
}
.WB_ico_face {
    background-position: 0 0;
}
.WB_ico_pic {
    background-position: 0 -20px;
}
.WB_ico_topic {
    background-position: 0 -40px;
}
.WB_pages_minibtn {
    padding: 10px 0;
    text-align: right;
}
.WB_pages_minibtn .reverse, .WB_pages_minibtn .reverse_disabled, .WB_pages_minibtn .next, .WB_pages_minibtn .next_disabled {
    background: url("../../images/library/ui_items_icons/ui_items.png?id=1367910055834") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    display: inline-block;
    height: 17px;
    vertical-align: middle;
    width: 17px;
}
.WB_pages_minibtn .reverse {
    background-position: -100px -20px !important;
    margin: 0 7px 0 0;
}
.WB_pages_minibtn .reverse:hover {
    background-position: -120px -20px !important;
}
.WB_pages_minibtn .reverse_disabled {
    background-position: -140px -20px !important;
    margin: 0 7px 0 0;
}
.WB_pages_minibtn .next {
    background-position: -100px 0 !important;
    margin: 0 0 0 7px;
}
.WB_pages_minibtn .next:hover {
    background-position: -120px 0 !important;
}
.WB_pages_minibtn .next_disabled {
    background-position: -140px 0 !important;
    margin: 0 0 0 7px;
}
.WB_pages_minibtn .pages_item {
    display: inline-block;
    height: 15px;
    line-height: 15px;
    margin: 0 3px;
    padding: 0 4px;
    text-align: center;
    vertical-align: middle;
}
.WB_pages_minibtn .pages_item:hover {
    text-decoration: none !important;
}
.WB_pages_minibtn .page_info {
    margin: 0 10px;
}
.WB_input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #fff;
    border-color: #c2c2c2 #efefef #f2f2f2 #cfcfcf;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #333;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
    vertical-align: middle;
}
.WB_btn_login, .WB_btn_cancel, .WB_btn_oauth, .WB_btn_oauthIng, .WB_btn_loginIng, .WB_btn_linkIng, .WB_btn_back, .WB_btn_allow, .WB_btn_pass, .WB_btn_link {
    background: url("../../images/oauthV3/oauth_btn.png?id=1367910055834") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 40px;
    line-height: 200px;
    overflow: hidden;
    width: 86px;
}
.WB_btn_login:hover {
    background-position: -87px 0;
}
.WB_btn_login:active {
    background-position: -174px 0;
}
.WB_btn_cancel {
    background-position: 0 -41px;
}
.WB_btn_cancel:hover {
    background-position: -87px -41px;
}
.WB_btn_cancel:active {
    background-position: -174px -41px;
}
.WB_btn_oauth {
    background-position: 0 -82px;
}
.WB_btn_oauth:hover {
    background-position: -87px -82px;
}
.WB_btn_oauth:active {
    background-position: -174px -82px;
}
.WB_btn_loginIng, .WB_btn_loginIng:hover {
    background-position: -348px 0;
    cursor: default;
}
.WB_btn_linkIng, .WB_btn_linkIng:hover {
    background-position: -262px -41px;
    cursor: default;
}
.WB_btn_oauthIng, .WB_btn_oauthIng:hover {
    background-position: -262px 0;
    cursor: default;
}
.WB_btn_back {
    background-position: 0 -123px;
}
.WB_btn_back:hover {
    background-position: -87px -123px;
}
.WB_btn_back:active {
    background-position: -174px -123px;
}
.WB_btn_allow {
    background-position: 0 -164px;
}
.WB_btn_allow:hover {
    background-position: -87px -164px;
}
.WB_btn_allow:active {
    background-position: -174px -164px;
}
.WB_btn_pass {
    background-position: 0 -205px;
}
.WB_btn_pass:hover {
    background-position: -87px -205px;
}
.WB_btn_pass:active {
    background-position: -174px -205px;
}
.WB_btn_link {
    background-position: -262px -82px;
}
.WB_btn_link:hover {
    background-position: -262px -123px;
}
.WB_btn_link:active {
    background-position: -262px -164px;
}
.WB_btnA, .WB_btnB, .WB_btnC {
    font-size: 12px;
}
.WB_btnA em, .WB_btnB em, .WB_btnC em {
    font-style: normal;
}
.WB_btnA, .WB_btnA span, .WB_btnA_loading {
    background: url("../../images/library/base/btns_bg.png?id=1367910055834") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 29px;
    line-height: 28px;
    min-width: 35px;
    overflow: hidden;
    text-decoration: none;
}
.WB_btnA {
    padding-left: 4px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.WB_btnA span {
    background-position: 100% -28px;
    padding: 0 10px 0 6px;
}
.WB_btnA:hover, .WB_btnA_loading {
    background-position: 0 -56px;
    text-decoration: none !important;
}
.WB_btnA:hover span, .WB_btnA_loading span {
    background-position: 100% -84px;
}
.WB_btnA:active {
    background-position: 0 -112px;
}
.WB_btnA:active span {
    background-position: 100% -141px;
}
.WB_btnA em {
    float: left;
}
.WB_btnB, .WB_btnB span {
    background: url("../../images/library/base/btns_bg.png?id=1367910055834") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #787878;
    cursor: pointer;
    display: inline-block;
    height: 29px;
    line-height: 28px;
    min-width: 35px;
    overflow: hidden;
    text-decoration: none;
}
.WB_btnB {
    background-position: 0 -169px;
    padding-left: 4px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
}
.WB_btnB span {
    background-position: 100% -197px;
    padding: 0 10px 0 6px;
}
.WB_btnB:hover {
    background-position: 0 -225px;
    text-decoration: none !important;
}
.WB_btnB:hover span {
    background-position: 100% -254px;
}
.WB_btnB:active {
    background-position: 0 -281px;
}
.WB_btnB:active span {
    background-position: 100% -310px;
}
.WB_btnC {
    display: inline-block;
    padding: 2px;
}
.WB_btnC span {
    background: none repeat scroll 0 0 #f8f8f8;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    display: inline-block;
    height: 23px;
    line-height: 22px;
    overflow: hidden;
    padding: 0 7px;
}
.WB_btnC em {
    float: left;
}
.WB_btnA .WB_btnicn_add, .WB_btnC .WB_btnicn_ok, .WB_btnC .WB_btnicn_each {
    background: url("../../images/library/base/icon_follow.png?id=1367910055834") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 8px;
    margin: 10px 3px 0 0;
    overflow: hidden;
    width: 8px;
}
.WB_btnA_loading .WB_btnicn_add {
    background: url("../../images/library/base/loading3.gif?id=1367910055834") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 18px;
    margin: 5px 3px 0 0;
    width: 18px;
}
.WB_btnC .WB_btnicn_ok {
    background-position: -18px 0;
    height: 8px;
    margin-top: 8px;
    width: 11px;
}
.WB_btnC .WB_btnL {
    border-left: 1px solid #d3d3d3;
    color: #d3d3d3;
    font-size: 0;
    height: 16px;
    line-height: 0;
    margin: 3px 8px 0 10px;
    overflow: hidden;
    width: 1px;
}
.WB_btnC .WB_btnicn_each {
    background-position: -39px 0;
    height: 12px;
    margin-top: 6px;
    width: 11px;
}
.WB_btnC .WB_btnicn_loading {
    background: url("../../images/library/base/loading1.gif?id=1367910055834") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 18px;
    margin: 3px 3px 0 0;
    width: 18px;
}
.WB_widgets .WB_btnB {
    background: url("../../images/library/base/btns_bg.png?id=1367910055834") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.WB_widgets .WB_btnB {
    background-position: 0 -169px !important;
}
.WB_widgets .WB_btnB:hover {
    background-position: 0 -225px !important;
}
.WB_widgets .WB_btnB:active {
    background-position: 0 -281px !important;
}
.WB_widgets .WB_btnD, .WB_widgets .WB_btnD span {
    display: inline-block;
    height: 32px;
}
.WB_widgets .WB_btnD {
    background: url("../../images/library/base/btns_bg.png?id=1367910055834") no-repeat scroll left -360px rgba(0, 0, 0, 0) !important;
    line-height: 32px;
    padding-left: 4px;
}
.WB_widgets .WB_btnD span {
    background: url("../../images/library/base/btns_bg.png?id=1367910055834") no-repeat scroll right -400px rgba(0, 0, 0, 0);
    color: #fff;
    padding: 0 16px 0 12px;
}
.WB_widgets .WB_btnD:hover {
    background-position: left -440px !important;
    text-decoration: none !important;
}
.WB_widgets .WB_btnD:hover span {
    background-position: right -480px;
}
.WB_widgets .WB_btnD:active {
    background-position: left -520px !important;
}
.WB_widgets .WB_btnD:active span {
    background-position: right -560px;
}
.WB_UIbody {
    background: url("../../images/library/frame/bg_wb_uibody.png?id=1367910055834") repeat-x scroll 0 0 #d6dbdd;
}
.WB_UIplus {
    background: url("../../images/library/frame/bg_wb_uiplus.png?id=1367910055834") repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    height: 285px;
    position: fixed;
    width: 100%;
    z-index: -1;
}
.WB_dialog {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
    position: absolute;
}
.WB_dialog .WB_panel {
    border: 0 none;
}
.WB_dialog .WB_dl_close {
    background: url("../../images/library/dialog/close_icon.png?id=1367910055834") repeat scroll 0 -15px rgba(0, 0, 0, 0) !important;
    height: 17px;
    line-height: 100px;
    overflow: hidden;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 17px;
    z-index: 80;
}
.WB_dialog .WB_dl_close:hover {
    background-position: 0 -33px !important;
}
.WB_panel {
    background: -moz-linear-gradient(center top , #fff 0%, #fbfbfb 80%, #f5f5f5 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #d2d2d2;
    border-radius: 6px;
    box-shadow: 0 0 5px #c6c6c6;
}
.WB_tips_yls {
    background: none repeat scroll 0 0 #fffcc6;
    border: 1px solid #d2d2d2;
    box-shadow: 1px 1px 0 #fff inset, 2px 4px 0 rgba(0, 0, 0, 0.2);
    color: #646464;
    font: 12px/1.125 Arial,Helvetica,sans-serif;
    padding: 8px 24px 8px 8px;
    position: absolute;
}
.WB_tips_yls a {
    color: #0078b6;
}
.WB_tips_yls .arr {
    background: url("../../images/library/tips/bg_tips.png?id=1367910055834") no-repeat scroll 0 -20px rgba(0, 0, 0, 0);
    bottom: -12px;
    height: 12px;
    left: 12px;
    overflow: hidden;
    position: absolute;
    width: 22px;
}
.WB_tips_yls .arr::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0.2) transparent transparent;
    border-image: none;
    border-right: 7px solid transparent;
    border-style: solid;
    border-width: 7px;
    bottom: -7px;
    content: "";
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
}
.WB_tips_yls .arr::after {
    background: none repeat scroll 0 0 #fffcc6;
    bottom: 7px;
    content: "";
    display: none;
    height: 14px;
    position: absolute;
    transform: rotate(45deg);
    width: 14px;
}
.WB_tips_yls .WB_tipS_err {
    vertical-align: middle;
}
.WB_tips_yls .WB_sp_txt {
    color: #ff0000;
    margin-left: 3px;
    vertical-align: middle;
}
.WB_tips_yls .WB_normal_txt {
    color: #666;
    margin-left: 3px;
    vertical-align: middle;
}
.WB_tips_yls .close, .WB_tips_mini .close {
    background: url("../../images/library/tips/close_icon.png?id=1367910055834") repeat scroll 0 -20px rgba(0, 0, 0, 0);
    font-size: 0;
    height: 7px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 8px;
}
.WB_tips_yls .close:hover, .WB_tips_mini .close:hover {
    background-position: 0 -28px;
}
.WB_tips_mini {
    background: none repeat scroll 0 0 #feffe5;
    border: 1px solid #f9f2a7;
    border-radius: 2px;
    color: #666;
    font: 12px/20px Arial,Helvetica,sans-serif;
    height: 20px;
    padding: 0 10px;
    position: absolute;
}
.WB_tips_mini a {
    color: #0078b6;
}
.WB_tips_mini .tm_arr {
    background: url("../../images/library/tips/bg_tips.png?id=1367910055834") repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: -5px;
    height: 5px;
    left: 10px;
    overflow: hidden;
    position: absolute;
    width: 8px;
}
.WB_tips_mini .close {
    top: 7px;
}
.WB_tips_mini .WB_icon_txt {
    margin-left: 5px;
}
.WB_tm_ctrl {
    padding-right: 25px;
}
.WB_t_err {
    color: #e24714;
}
.WB_tips_wait {
    background: none repeat scroll 0 0 rgba(65, 65, 65, 0.8);
    border-radius: 3px;
    color: #fff;
    font: 700 14px/1.125 Arial,Helvetica,sans-serif;
    padding: 17px 19px;
    position: absolute;
}
.WB_tips_wait a {
    color: #0078b6;
}
.WB_tips_wait .WB_icon_txt {
    padding-left: 5px;
}
.WB_tips_show {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #d2d2d2;
    box-shadow: 1px 1px 0 #fff inset, 2px 4px 0 rgba(0, 0, 0, 0.2);
    color: #646464;
    font: 12px/1.125 Arial,Helvetica,sans-serif;
    padding-top: 1px;
    position: absolute;
}
.WB_tips_show a {
    color: #0078b6;
}
.WB_tips_show .ts_arr {
    background: url("../../images/library/tips/bg_tips.png?id=1367910055834") repeat scroll 0 -8px rgba(0, 0, 0, 0);
    height: 5px;
    left: 12px;
    overflow: hidden;
    position: absolute;
    top: -5px;
    width: 8px;
}
.WB_tips_show .Wb_tipsshow_wrap {
    background: none repeat scroll 0 0 #fafafa;
}
.WB_tips_show .WB_tips_show_close {
    background: url("../../images/library/tips/close_icon.png?id=1367910055834") repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    height: 7px;
    line-height: 100px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 7px;
}
.WB_tips_show .WB_tips_show_close:hover {
    background-position: 0 -9px !important;
}
.WB_tips_smart {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #b6c0cc;
    font: 12px/1.125 Arial,Helvetica,sans-serif;
    margin: 1px;
    min-width: 124px;
    position: absolute;
}
.WB_tips_smart p, .WB_tips_smart ul, .WB_tips_smart li {
    font-size: 12px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.WB_tips_smart .tipsmt_list li {
    display: inline;
}
.WB_tips_smart .tipsmt_title, .WB_tips_smart .tipsmt_list li a {
    display: block;
    overflow: hidden;
    padding: 5px 10px;
    text-decoration: none;
    white-space: nowrap;
}
.WB_tips_smart .tipsmt_list li a {
    color: #666;
}
.WB_tips_smart .tipsmt_list li a:hover {
    background: none repeat scroll 0 0 #eeeeef;
    text-decoration: none;
}
.WB_tips_smart .tipsmt_list li a b {
    color: #4f8ff4;
    font-weight: 700;
}
.WB_tips_smart .tipsmt_cur a {
    background: none repeat scroll 0 0 #eeeeef;
}
.WB_tips_top {
    background: url("../../images/library/tips/bg_trans.png?id=1367910055834") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 2px;
    font: 12px/1.125 Arial,Helvetica,sans-serif;
    padding: 2px;
    position: absolute;
}
.WB_tips_top a {
    color: #0078b6;
}
.WB_tips_top .tips_inner {
    background: none repeat scroll 0 0 #feffe5;
    border: 1px solid #ccc;
    box-shadow: 0 0 0 1px #fffff3 inset;
    color: #000 !important;
}
.WB_tips_top .WB_icon_txt {
    margin-left: 3px;
}
.WB_tips_top .tips_inner {
    padding: 6px 10px;
}
.WB_tips_top .tips_arr {
    background: url("../../images/library/tips/bg_tips_top.png?id=1367910055834") repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 0;
    height: 8px;
    overflow: hidden;
    position: absolute;
    right: 70px;
    top: -5px;
    width: 11px;
}
.WB_tips_top .tips_arr_btm {
    background: url("../../images/library/tips/bg_tips_btm.png?id=1367910055834") repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: -3px;
    font-size: 0;
    height: 8px;
    left: 70px;
    overflow: hidden;
    position: absolute;
    width: 11px;
}
.WB_tips_sp {
    background: none repeat scroll 0 0 #fff9cb;
    border: 1px solid #ffdd93;
    padding: 7px;
    position: absolute;
}
.WB_tips_black {
    background: none repeat scroll 0 0 #333;
    border-radius: 2px;
    color: #e3e3e3;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    padding: 0 5px;
    position: absolute;
}
.WB_tips_black .tm_arr {
    border-color: #333 transparent transparent;
    border-style: solid dashed dashed;
    border-width: 3px 3px 0;
    bottom: 0;
    display: block;
    font-size: 0;
    height: 0;
    left: 2px;
    line-height: 0;
    position: relative;
    vertical-align: middle;
    width: 0;
}
.WB_tips_mini_w {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e7e7e7;
    padding: 7px;
    position: absolute;
}
.WB_tips_mini_w .arr_t {
    background: url("../../images/library/tips/bg_tips.png?id=1367910055834") repeat scroll 0 -30px rgba(0, 0, 0, 0);
    font-size: 0;
    height: 6px;
    left: 149px;
    overflow: hidden;
    position: absolute;
    top: -6px;
    width: 11px;
}
.WB_tip_sg {
    background: url("../../images/library/base/layer_bg.png?id=1367910055834") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 8px;
    padding: 6px;
    position: absolute;
}
.WB_tip_sg .WB_tip_sg_inner {
    background: none repeat scroll 0 0 #fff;
    border-radius: 5px;
    padding: 15px 20px;
}
.WB_tip_sg .WB_icon_txt {
    font-size: 14px;
    margin-left: 5px;
}
.WB_tips_top .WB_tips_close {
    background: url("../../images/library/ui_items_icons/ui_items.png?id=1367910055834") no-repeat scroll 0 -40px rgba(0, 0, 0, 0) !important;
    height: 12px;
    position: absolute;
    right: 6px;
    top: 10px;
    width: 12px;
}
.WB_tips_top .WB_tips_close:hover {
    background-position: -20px -40px !important;
}
.WB_selector {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    padding: 5px 27px 5px 10px;
    position: relative;
    width: 60px;
}
.WB_selector .slt_ctrl {
    border-left: 1px solid #ccc;
    bottom: 5px;
    position: absolute;
    right: 0;
    top: 5px;
    width: 16px;
}
.WB_selector .slt_ctrl .slt_arr {
    border-color: #7f7f7f transparent transparent;
    border-style: solid dashed dashed;
    border-width: 4px;
    display: inline-block;
    height: 0;
    margin: 5px 0 0 4px;
    overflow: hidden;
    position: relative;
    width: 0;
}
.WB_selector .slt_opt {
    left: 0;
    position: absolute;
    top: 26px;
}
.WB_selector .slt_opt .slt_opt_inner {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: block;
    width: 96px;
}
.WB_selector .slt_opt .slt_opt_inner em {
    display: block;
    height: 20px;
    line-height: 20px;
    margin: 1px;
    padding-left: 8px;
}
.WB_selector .slt_opt .slt_opt_inner em:hover {
    background: none repeat scroll 0 0 #e6e6e6;
}
body {
    color: #333;
    font-size: 14px;
}
a {
    color: #1885bc;
}
a.WB_text2, .WB_text2 {
    color: #87bedc;
}
.vline {
    color: #969696;
    margin: 0 5px;
}
.oauth_xline {
    padding-top: 14px;
}
.oauth_wrap {
    margin: 0 auto;
    width: 580px;
}
.oauth_header {
    margin-bottom: 11px;
}
.oauth_header .WB_logo {
    float: left;
}
.oauth_header .login_account {
    color: #969696;
    float: right;
    font-size: 12px;
    margin-top: 20px;
}
.oauth_header .login_account a {
    color: #969696;
}
.oauth_header .login_account .sign_up_link, .oauth_header .login_account .special_login_link {
    color: #1885bc;
    font-size: 14px;
    font-weight: bold;
}
.oauth_header .login_account .vline_login {
    font-size: 14px;
    margin: 0 8px;
}
.oauth_content {
    padding: 10px 18px 0 20px;
}
.oauth_main_info {
    margin-bottom: 27px;
    padding-top: 5px;
}
.oauth_main_info .app_name {
    font-weight: 700;
}
.oauth_login {
    border-bottom: 1px dotted #d8d8d8;
    margin-top: 20px;
    padding-bottom: 20px;
    position: relative;
}
.oauth_login_box01 {
    margin-top: 5px;
    padding-bottom: 30px;
}
.oauth_login_submit {
    float: right;
    margin-left: 10px;
    text-align: right;
}
.oauth_input_label, .oauth_form_input {
    display: inline-block;
    vertical-align: middle;
}
.oauth_login .oauth_form_input {
    color: #9a9a9a;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    padding: 0 9px;
    width: 238px;
}
.oauth_input_label {
    line-height: 30px;
    text-align: right;
    width: 140px;
}
.oauth_login_01 {
    margin-bottom: 10px;
}
.oauth_login_01 .WB_text2 {
    font-size: 12px;
}
.oauth_login_submit {
    font-size: 12px;
    line-height: 28px;
}
.oauth_form_checkbox {
    margin-right: 6px;
    vertical-align: -3px;
}
.oauth_submit {
    margin-left: 2px;
}
.oauth_submit a {
    margin-left: 5px;
}
.formbtn_01 {
    margin-right: 11px;
}
.oauth_formbtn {
    height: auto;
    margin: 7px 0 0;
}
.oauth_formbtn a {
    cursor: pointer;
    float: left;
}
.oauth_tiptxt {
    color: #646464;
    font-size: 12px;
    line-height: 18px;
    margin: 10px 0 0 20px;
}
.oauth_login .oauth_btnA {
    bottom: 20px;
    margin-left: -185px;
    position: absolute;
    width: 185px;
}
.oauth_login .oauth_code {
    margin-top: 10px;
}
.oauth_login .oauth_code * {
    vertical-align: middle;
}
.oauth_login .oauth_code .code_img {
    vertical-align: top;
}
.WB_tm_ctrl {
    width: 222px;
}
.WB_wdicon {
    background: url("../../images/oauthV3/icons.png?id=1367910055834") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 15px;
}
.login_info .icon_help {
    background: url("../../images/oauthV3/icons.png?id=1367910055834") repeat scroll 0 -20px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 14px;
    margin-left: 5px;
    vertical-align: -2px;
    width: 14px;
}
.login_info {
    color: #999;
    float: left;
    font-size: 12px;
    margin-top: 24px;
    position: relative;
    width: 340px;
}
.login_info .WB_tips_mini_w {
    left: 0;
    top: 20px;
}
.oauth_main_content {
    border-bottom: 1px dotted #d8d8d8;
    padding-bottom: 15px;
}
.oauth_main_content .app_info {
    background: none repeat scroll 0 0 #fafafa;
    border: 1px solid #ececec;
    margin-top: 10px;
    padding: 10px;
}
.oauth_main_content .app_info_main {
    float: left;
    width: 300px;
}
.oauth_main_content .app_info_main .app_icon {
    border-radius: 3px;
    float: left;
    height: 64px;
    overflow: hidden;
    width: 64px;
}
.oauth_main_content .app_info_main .app_icon img {
    display: block;
    height: 64px;
    width: 64px;
}
.oauth_main_content .app_info_main .app_intro {
    margin-left: 74px;
}
.oauth_main_content .app_info_main .app_intro h3 {
    margin-bottom: 5px;
}
.oauth_main_content .app_info_main .app_intro h3 a {
    font-size: 14px;
}
.oauth_main_content .app_info_main .app_des {
    color: #999;
    font-size: 12px;
    line-height: 20px;
}
.oauth_main_content .app_info_plus {
    float: right;
}
.oauth_main_content .app_info_plus .plus_tit {
    font-size: 12px;
    padding-bottom: 10px;
}
.oauth_main_content .app_info_plus .app_user_list li {
    float: left;
    height: 30px;
    margin-right: 3px;
    width: 30px;
}
.oauth_main_content .app_info_plus .app_user_list li img {
    display: block;
    height: 30px;
    width: 30px;
}
.oauth_main_content .app_info_plus .app_user_list li .more {
    background: none repeat scroll 0 0 #eaebec;
    color: #999;
    display: block;
    font-family: Tahoma;
    font-size: 18px;
    font-weight: 700;
    height: 30px;
    text-align: center;
    text-decoration: none;
    width: 30px;
}
.oauth_main_content .app_info_plus .app_user_list li .more:hover {
    color: #ffb941;
}
.oauth_main_content .oauth_info {
    padding-top: 18px;
    position: relative;
}
.oauth_main_content .oauth_list .do_list {
    font-size: 12px;
    margin: 15px 0 0 20px;
}
.oauth_main_content .oauth_list .do_list li {
    margin-bottom: 12px;
}
.oauth_main_content .oauth_list .do_list i {
    background: url("../../images/oauthV3/icons.png?id=1367910055834") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 13px;
    margin-right: 5px;
    vertical-align: middle;
    width: 15px;
}
.oauth_main_content .oauth_list .do_list .icon_user {
    background-position: -20px 0;
}
.oauth_main_content .oauth_list .do_list .icon_rss {
    background-position: -40px 0;
}
.oauth_main_content .oauth_list .do_list .icon_comm {
    background-position: -60px 0;
}
.oauth_main_content .oauth_info .oauth_info_plus {
    font-size: 12px;
    left: 350px;
    padding: 26px 0 0;
    position: absolute;
    top: 12px;
    width: 190px;
}
.oauth_main_content .oauth_info .sele_des {
    color: #999;
    line-height: 20px;
    margin-top: 5px;
}
.oauth_main_content .no_plus .oauth_list {
    margin-left: 84px;
}
.oauth_stat {
    padding-top: 20px;
    text-align: center;
}
.oauth_stat .stat_icon {
    padding-bottom: 15px;
}
.oauth_stat .stat_tips {
    padding-bottom: 10px;
}
.oauth_stat .err_txt {
    color: #999;
    font-size: 12px;
    padding-bottom: 10px;
}
.oauth_stat .stat_link {
    color: #999;
    font-size: 12px;
    padding-bottom: 10px;
}
.oauth_stat .stat_link i {
    margin: 0 3px;
}
.allow_list {
    font-size: 12px;
}
.allow_list .list_tit {
    margin-bottom: 10px;
}
.allow_list .allow_con {
    background: none repeat scroll 0 0 #fafafa;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    padding: 0 20px;
}
.allow_list .allow_con .row_list {
    overflow: hidden;
}
.allow_list .allow_con .row {
    border-top: 1px dotted #c9c9c9;
    margin-top: -1px;
    padding: 9px 0;
}
.allow_list .allow_con .WB_checkbox {
    margin-right: 5px;
    vertical-align: middle;
}
.oauth_login .code_img {
    display: inline-block;
    height: 30px;
    width: 75px;
}
.oauth_login .code_img img {
    height: 30px;
    width: 75px;
}
.WB_oauth_tips {
    left: 143px;
    position: absolute;
    top: -46px;
    width: 225px;
}
.app_info_main .app_intro_name {
    color: #1582bd;
    font-weight: bold;
}
.oauth_info .oauth_target_name, .oauth_info .sele_des_em {
    color: #1582bd;
}
.oauth_password {
    position: relative;
}
.oauth_login_01 .input_note {
    color: #9a9a9a;
    left: 155px;
    position: absolute;
    top: 6px;
}
.event_area {
    float: left;
    padding: 12px 0 0;
}
.event_area .event_mark {
    background: url("../../images/oauthV3/new_year_event.png?id=1367910055834") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 30px;
    width: 280px;
}
.oauth_login_qrcode .qrcode_wrapper {
    margin: 0 auto;
    padding: 0 0 20px;
    position: relative;
    text-align: center;
    width: 200px;
}
.qrcode_first_note {
    font-size: 12px;
    padding-bottom: 1px;
    position: relative;
}
.qrcode_first_note .client_download_link {
    color: #333;
}
.qrcode_first_note .client_download_link:hover {
    color: #1582bd;
}
.qrcode_first_note .WB_tipS_ques {
    height: 18px;
    margin-left: 3px;
    vertical-align: middle;
}
.qrcode_first_note .W_layer {
    display: none;
}
.note_layer_show .W_layer {
    display: block;
}
.qrcode_first_note .W_layer .arrow_t {
    left: 50%;
    margin-left: -14px;
}
.qrcode_first_note .W_tips .icon {
    float: left;
    margin-right: 3px;
    vertical-align: middle;
}
.qrcode_first_note .W_tips .txt {
    margin-left: 19px;
    text-align: left;
}
.qrcode_first_note .W_layer .qrcode_map {
    margin-top: 6px;
}
.qrcode_first_note .W_layer {
    left: 66px;
    top: 23px;
}
.qrcode_img_container .qrcode_img {
    height: 180px;
    width: 180px;
}
.tips_qrcode_scan_success {
    left: -30px;
    top: -16px;
}
.W_layer {
    border-radius: 3px;
    position: absolute;
    z-index: 9999;
}
.W_layer .bg {
    background: url("../../images/oauthV3/layer_bg.png?id=1367910055834") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 4px;
    padding: 3px;
}
.W_layer .content {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    position: relative;
}
.W_layer .arrow {
    background: url("../../images/oauthV3/layer_arrow.png?id=1370232467958") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    overflow: hidden;
    position: absolute;
}
.W_layer .arrow_r, .W_layer .arrow_l {
    background-position: -8px -24px;
    height: 14px;
    right: -5px;
    top: 20px;
    width: 9px;
}
.W_layer .arrow_l {
    background-position: 0 -24px;
    left: -5px;
    right: auto;
}
.W_layer .arrow_t, .W_layer .arrow_b {
    background-position: 0 0;
    height: 9px;
    left: 30px;
    top: -5px;
    width: 14px;
}
.W_layer .arrow_b {
    background-position: 0 -8px;
    bottom: -5px;
    top: auto;
}
.W_layer .layer_qrcode {
    padding: 13px 7px 15px 20px;
}