.oauth_wrap {
    margin: 0 auto;
    width: 580px;
}

.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.oauth_header {
    margin-bottom: 11px;
}
.clearfix {
    display: block;
}


.WB_panel {
    background: -moz-linear-gradient(center top , #fff 0px, #fbfbfb 80%, #f5f5f5 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #d2d2d2;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(198, 198, 198, 1);
    overflow: hidden;
}

.oauth_error .oauth_error_content {
    margin: 0 0 0 150px;
    padding: 85px 0 111px;
    width: 315px;
}
.oauth_error .oauth_error_content .oauth_error_icon, .oauth_error .error_content {
    float: left;
}
.oauth_error .oauth_error_content .oauth_error_icon {
    margin-right: 10px;
}
.oauth_error .oauth_error_content .error_content {
    line-height: 21px;
    width: 265px;
}
.oauth_error .error_content dt {
    color: #646464;
    font-size: 16px;
    font-weight: bold;
}
.oauth_error .error_content dd {
    font-size: 12px;
    margin-top: 7px;
}
.oauth_error .error_content dd a {
    margin-right: 5px;
}
.oauth_error .oauth_copyright {
    background: none repeat scroll 0 0 #e4e4e4;
    border-radius: 0 0 8px 8px;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}
.oauth_error .oauth_copyright a {
    margin-right: 5px;
}